<div class="content-center">
  <div nz-row [nzGutter]="24">
    <div class="gutter-row project-image" nz-col nzSm="24" nzXs="24" nzMd="12" nzLg="12">
      <img
        nz-image
        style="width:100%; height: 80%; object-fit: contain;"

        nzSrc="/assets/img/p3.jpg"
        alt=""
      />
    </div>
    <div class="gutter-row" nz-col nzSm="24" nzXs="24" nzMd="12" nzLg="12">
      <h2>Login</h2>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Username"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
          </div>
          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot">Forgot password</a>
          </div>
        </div>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        Or
        <a>register now!</a>
      </form>
    </div>
  </div>

</div>
