<nz-modal [(nzVisible)]="isShowModal" nzTitle="Edit a Task" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <form nz-form [formGroup]="validateForm">

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
        <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="Please write your title">
          <input nz-input type="text" [(ngModel)]="taskData.taskName" formControlName="taskName" placeholder="Title "/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
        <nz-form-control [nzSpan]="15" nzErrorTip="Please write something here!">
          <textarea formControlName="taskDescription" [(ngModel)]="taskData.taskDescription" nz-input rows="4"
                    placeholder="write any thing"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Status</nz-form-label>
        <div>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Status" [(ngModel)]="taskData.taskStatus"
                     formControlName="taskStatus">
            <nz-option nzLabel="Todo" nzValue="do"></nz-option>
            <nz-option nzLabel="Work in Progress" nzValue="wip"></nz-option>
            <nz-option nzLabel="Done" nzValue="done"></nz-option>
          </nz-select>
        </div>
      </nz-form-item>
    </form>
  </div>

  <ng-template #notify>
    <app-notify [messageObj]="messageObject" ></app-notify>
  </ng-template>
  <div *nzModalFooter style="display: flex;justify-content: space-between">
    <button nz-button nzDanger nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this task?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="delete(notify)"
            (nzOnCancel)="cancel()">Delete <i nz-icon nzType="delete" nzTheme="fill"></i></button>
    <div class="">
      <button nz-button nzType="primary" [nzLoading]="isOkLoading" (click)="update(validateForm.value, notify)"
              [disabled]="!validateForm.valid">Submit
      </button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </div>
  </div>
</nz-modal>
